<div class="row">
  <div class="col-md-4 mr-auto ml-auto">
    <div class="card" (click)="addVehicle()">
        <div class="card-body text-center">
          <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
          <p>Add Ambulance</p>
        </div>
    </div>
    <div *ngIf="!addVehicleEnable">
  <legend class="text-center"> Vehicle Details</legend>
  <div class="row p-0 m-0">
  <div class="col-md-4"><h4 class="p-0 m-0"> Vehicle Image</h4></div>
  <div class="col-md-8 text-right"><h4 class="p-0 m-0"> Vehicle Number</h4></div>
</div>
  <div *ngFor="let vehicle of  VehicleDetails" >
    <div class="card" (click)="addVehicle()">
    
      <div class="card-body mt-0">
        <div class="row">
       <div class="col-md-4">
       
        <i class="fa fa-ambulance fa-2x text-center" aria-hidden="true"></i>
       </div>
       <div class="col-md-8 text-right">
  <p>{{vehicle.vehicleNumber}}</p>
  <p class="mb-0">{{vehicle.type}}</p>
       </div>
      </div>
      </div>
  </div>
  </div>


</div>
  </div>
  </div>
<div class="row" *ngIf="addVehicleEnable">
                 
  <div class="tab-pane " id="personalinformationinner" *ngIf="pitab">
<app-add-ambulance (valueChange)="addVehicleEnable = false"></app-add-ambulance>

</div>
<div class="tab-pane" id="idproofs" *ngIf="idproof">
  <div class="card-body">
    <div class="row  col-md-6 text-center ml-auto mr-auto">
    <legend>ID Proofs</legend>
    <legend>ID Proofs to prove it's really you !</legend>
   
    
  </div>

    <div class="row mt-2">
      <div class="col-md-4 col-md-4">
          <legend>Registration Certificate</legend>
    
      </div>
      <div class="col-md-6 col-md-6">
        <div class="row">
   <input type="file" [(ngModel)]="filetext" (click)="enable  = true" />
  </div>
  <div class="row" *ngIf="filetext">
   <a href="#">{{filetext}} </a> 
   <button class="btn btn-rose" >Upload</button>
   <button class="btn btn-danger" (click)="filetext = ''">remove</button> </div>
    </div>
    
  </div>  
  
  <div class="row mt-5">
    <div class="col-md-4 col-md-4">
        <legend>Insurance Certificate</legend>
  
    </div>
    <div class="col-md-6 col-md-6">
      <div class="row">
 <input type="file" [(ngModel)]="filetextback" (click)="enable  = true" />
</div>
<div class="row" *ngIf="filetextback">
  <div>
 <a href="#" class="mt-2">{{filetextback}} </a> </div>
 <button class="btn btn-rose" >Upload</button>
 <button class="btn btn-danger" (click)="filetextback = ''">remove</button> </div>
  </div>
  
</div> 

</div>
</div>

</div>
 
   <div class="row" *ngIf="addVehicleEnable">

    <div class="col-md-3">
    </div>
     <div class="col-md-3">
      &nbsp;
        <button mat-raised-button class="btn  btn-round col-md-12" [ngClass]="{'btn-white' : !pitab, 'btn-rose': pitab}"  (click)="selectInnerTab('pitab')"> Vehicle Information</button>
      
      </div>
      <div class="col-md-3">
     
        &nbsp;
          <button mat-raised-button class="btn  btn-round col-md-12" [ngClass]="{'btn-white' : !idproof, 'btn-rose': idproof}"  (click)="selectInnerTab('idproof')">   ID Proofs</button>
      </div>
        </div>
       
       

   